{% extends 'main.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTable</h6>
    </div>
    <div class="card-body">
      <a
        href="{% url 'download' 'CSV' %}"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        ><i class="fas fa-download fa-sm text-white-50"></i> Download as CSV</a
      >
      <a
        href="{% url 'download' 'EXCEL' %}"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        ><i class="fas fa-download fa-sm text-white-50"></i> Download as Exel
        with analytics
      </a>
      <br />
      <br />
      <div class="table-responsive">{{ file_html| safe }}</div>
    </div>
  </div>
</div>
<!-- Page level plugins -->
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
